@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  color: #414042;
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
}

body a {
  color: #2FAA9F;
  text-decoration: underline;
}

body a:hover {
  color: #000;
  cursor: pointer;
}

body h1 {
  font-size: 60px;
  padding-bottom: 15px;
}

body h2 {
  font-size: 34px;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
  color: black;
}

body h3 {
  font-size: 22px;
  color: #5a3896;
}

body h4 {
  font-size: 26px;
  text-align: center;
  padding: 10px;
}

body ul > li {
  font-weight: 300;
}

.header {
  position: relative;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .follow {
  width: 160px;
  margin: auto;
}

.header .follow image {
  padding: 10px;
  margin: auto;
  float: center;
  border: solid;
}

.header .follow .twitter {
  margin-right: 4px;
}

.page-divider {
  margin-top: 70px;
  height: 0.4px;
  background-color: rgba(47, 170, 159, 0.6);
}

.navbar .navbar-nav > li > a {
  font-size: 17px;
  padding: 10px;
}

.navbar .collapse .navbar-nav > li > a {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  text-decoration: none;
}

.navbar .collapse .navbar-nav > li > a:hover {
  color: #2673ab;
}

h1, .subtitle {
  text-align: center;
}

.subtitle {
  font-size: 24px;
}

h2 {
  padding-top: 15px;
  padding-bottom: 15px;
}

button.navbar-toggler {
  border: none;
}

p {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

footer {
  background-color: black;
  color: white;
  position: absolute;
  display: -ms-grid;
  display: grid;
  padding: 20px 20px 0px 20px;
  margin-bottom: -10px;
  -ms-grid-columns: 80% 10%;
      grid-template-columns: 80% 10%;
  bottom: 0px;
  width: 100%;
  height: 5rem;
}

footer p {
  display: -ms-inline-grid;
  display: inline-grid;
  margin-right: 0px;
}

footer .float-right {
  float: right;
  margin-left: auto;
  padding-right: 15px;
}

footer a:hover {
  color: white;
}

.main-landing {
  width: 100%;
  background-color: #2673ab;
}

.main-landing .about {
  width: 60%;
  margin: auto;
  color: white;
  padding-top: 70px;
  padding-bottom: 70px;
}

.main-landing .about h2 {
  color: white;
}

.projects {
  width: 60%;
  margin: auto;
  padding-top: 60px;
  padding-bottom: 80px;
  text-align: center;
}

.projects .project-boxes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 15px;
}

.projects .project-boxes div {
  border: dashed 1px #5a3896;
  text-align: center;
  padding: 5px;
}

#contact {
  width: 60%;
  margin: auto;
  margin-bottom: 10px;
  padding-top: 60px;
  padding-bottom: 180px;
}

#contact p {
  text-align: center;
}

#contact .bottom-links {
  padding-top: 20px;
}

form {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-bottom: 20px;
}

form .form-ul-container {
  list-style-type: none;
  padding: 20px;
  font-size: 20px;
}

form .form-ul-container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: .5em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form .form-ul-container .row input, form .form-ul-container .row .long-text-input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: dashed 1px;
}

form .form-ul-container .row label {
  text-transform: uppercase;
  padding: 0em 0em 0em 0;
  margin-top: 25px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form .form-ul-container li > button {
  position: relative;
  float: right;
  padding: 8px;
  background-color: white;
  border: solid 1px #2673ab;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 20px;
  }
  .main-landing .about {
    width: 90%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .projects {
    width: 90%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #contact {
    width: 90%;
    padding-top: 50px;
  }
}

@media only screen and (min-width: 400px) {
  .navbar-nav, .navbar-brand {
    padding: 25px;
  }
  .subtitle {
    font-size: 20px;
    padding-top: 20px;
  }
  .row > input {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
}

html, body {
  text-align: center;
  min-width: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #ebebeb;
  position: relative;
  padding: 0;
  margin: 0;
}

.container {
  position: relative;
  max-width: 70%;
  margin: auto;
}

.choose-level {
  position: absolute;
  background-color: black;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  color: white;
  text-align: center;
}

.choose-level h1 {
  margin-top: 20vh;
}

.choose-level h2 {
  color: white;
}

.choose-level .start-buttons {
  width: 100%;
  text-align: center;
}

.choose-level .start-buttons > button {
  margin: auto;
  position: relative;
  display: -ms-inline-grid;
  display: inline-grid;
  top: 50%;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  -webkit-box-shadow: 2px 2px 2px grey;
          box-shadow: 2px 2px 2px grey;
}

.container-advanced {
  display: none;
}

.container-beginner {
  display: none;
}

.circle {
  opacity: 0;
}

.land {
  fill: #2FAA9F;
  fill-opacity: 1;
  stroke: #ebebeb;
  stroke-opacity: 1;
  stroke-width: 0.5;
  stroke-miterlimit: 3.97446823;
  stroke-dasharray: none;
}

.attribution {
  position: absolute;
  bottom: 70px;
  padding-bottom: 0px;
  font-size: 14px;
  color: black;
}

.attribution a {
  text-decoration: none;
  color: black;
}

.map {
  position: relative;
  padding-top: 30px;
  margin-left: 15%;
  max-width: 75%;
}

.map svg {
  max-width: 100%;
}

#quiz-container {
  display: none;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.container-advanced, .container-beginner {
  position: relative;
  top: 25%;
  height: 75%;
  margin-left: 0px;
  text-align: left;
}

.container-advanced #time, .container-advanced #time2, .container-beginner #time, .container-beginner #time2 {
  font-size: 22px;
  color: red;
}

.container-advanced button, .container-beginner button {
  position: absolute;
  top: 200px;
}

.container-advanced p, .container-beginner p {
  position: relative;
}

.container-advanced h1, .container-beginner h1 {
  position: relative;
  text-align: left;
}

.container-advanced #answer, .container-advanced #answer-beginner, .container-beginner #answer, .container-beginner #answer-beginner {
  position: absolute;
  padding: 10px;
  top: 200px;
  font-size: 16px;
  display: none;
}

.container-advanced #score-beginner, .container-advanced #score, .container-beginner #score-beginner, .container-beginner #score {
  position: relative;
  font-size: 20px;
}

#game-over {
  display: none;
  position: relative;
  margin: auto;
}

#game-over #game-over-score {
  position: relative;
  font-size: 26px;
  padding-top: 35vh;
  margin: 0;
  padding-bottom: 10px;
}

#game-over button {
  padding: 10px;
  font-size: 20px;
  margin: 10px;
  border: none;
}

@media only screen and (max-width: 600px) {
  #quiz-container {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .map {
    width: 100%;
  }
  .container-advanced, .container-beginner {
    height: 100vh;
    padding: 20px;
  }
  .container-advanced button, .container-beginner button {
    position: relative;
    top: 10px;
  }
  .container-advanced #beginner-start, .container-beginner #beginner-start {
    margin-top: 0px;
  }
  #answer, #answer-beginner {
    position: relative;
    padding: 10px;
    font-size: 16px;
    display: none;
    top: 10px;
  }
}
/*# sourceMappingURL=styles.css.map */