//fonts
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,300;1,400;1,500&display=swap');

//colours
$main-brand: rgb(38, 115, 171);
$secondary: #5a3896;
$links-hover: #000;
$yellow: #ffd500;
  
$green: #2FAA9F;
$lightgreen: rgba(47, 170, 159, 0.6);
$lightergreen: rgba(47, 170, 159, 0.25);
$darkgreen: #2d616e;
$font-grey: #414042;

html{
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  color: $font-grey;
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
  a{
    color: $green;
    text-decoration: underline;
  }
  a:hover{
    color: $links-hover;
    cursor: pointer;
  }
  h1{
    font-size: 60px;
    padding-bottom: 15px;
    }
  h2{
    font-size: 34px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    color: black;
  }
  h3{
    font-size: 22px;
    color: $secondary;
  }
  h4{
    font-size: 26px;
    text-align: center;
    padding: 10px;
  }
  ul>li{
    font-weight: 300;
  }
}
.header{
  position: relative;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .follow{
    width: 160px;
    margin: auto;
    image{
      padding: 10px;
      margin: auto;
      float: center;
      border: solid;
    }
    .twitter{
      margin-right: 4px;
    }
  }
}
.page-divider{
  margin-top: 70px;
  height: 0.4px;
  background-color: $lightgreen;
}

.navbar .navbar-nav > li > a{
  font-size: 17px;
  padding: 10px;
}

.navbar .collapse .navbar-nav > li > a{
  transition: 0.6s;
  text-decoration: none;
}

.navbar .collapse .navbar-nav > li > a:hover{
  color: $main-brand;
}

h1,.subtitle{
  text-align: center;
}

.subtitle{
  font-size: 24px;
}

h2{
  padding-top: 15px;
  padding-bottom: 15px;
}

button.navbar-toggler{
  border: none;
}

p{
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}


footer{
  background-color: black;
  color: white;
  position: absolute;
  display: grid;
  padding: 20px 20px 0px 20px;
  margin-bottom: -10px;
  grid-template-columns: 80% 10%;
  bottom: 0px;
  width: 100%;
  height: 5rem;
  p{
    display: inline-grid;
    margin-right: 0px;
  }
  .float-right{
    float: right;
    margin-left: auto;
    padding-right: 15px;
  }
  a:hover{
    color: white;
  }
}

//Homepage

.main-landing{
  width: 100%;
  background-color: $main-brand;
  .about{
    width: 60%;
    margin: auto;
    color: white;
    padding-top: 70px;
    padding-bottom: 70px;
    h2{
      color: white;
    }
  }
}
  
.projects{
  width: 60%;
  margin: auto;
  padding-top: 60px;
  padding-bottom: 80px;
  text-align: center;
    .project-boxes{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        //grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 15px;
      div{
        border: dashed 1px $secondary;
        text-align: center;
        padding: 5px;
      }
    }
  }

#contact{
    width: 60%;
    margin: auto;
  margin-bottom: 10px;
    padding-top: 60px;
    padding-bottom: 180px;
    p{
      text-align: center;
    } 
  .bottom-links{
    padding-top: 20px;
  }
  }

form{
  -webkit-flex: 1;
  flex: 1;
  padding-bottom: 20px;
  .form-ul-container{
    list-style-type: none;
    padding: 20px;
    font-size: 20px; 
    .row{
      display: flex;
      justify-content: flex-end;
      padding: .5em;
      flex-direction: column;
      input,.long-text-input{
        flex: 1;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: dashed 1px;
      }
      label{
        text-transform: uppercase;
        padding: 0em 0em 0em 0;
        margin-top: 25px;
        flex: 1;
        flex-direction: column;
    }
    }
    li>button{
        position: relative;
        float: right;
        padding: 8px;
        background-color: white;
        border: solid 1px $main-brand;
      }
  }
}

@media only screen and (max-width: 600px) {
  h1{
    font-size: 28px;
  }
  h2{
    font-size: 22px;
  }
  h3{
    font-size: 20px;
  }  
  
.main-landing{
  .about{
    width: 90%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
  
.projects{
  width: 90%;
  padding-top: 50px;
  padding-bottom: 50px;
  }

#contact{
    width: 90%;
    padding-top: 50px;
  }
  
}

@media only screen and (min-width: 400px){
  .navbar-nav,.navbar-brand{
    padding: 25px;
  }
    .subtitle{
    font-size: 20px;
    padding-top: 20px;
  }
  
  .row > input {
    flex: 2;
  }
  
}

//Map Design
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$land: #2FAA9F;
$background: #ebebeb;

html,body{
  text-align: center;
  min-width: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: $background;
  position: relative;
  padding: 0;
  margin: 0;
}
.container{
  position: relative;
  max-width: 70%;
  margin: auto;
}

.choose-level{
  position: absolute;
  background-color: black;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  color: white;
  text-align: center;
  h1{
    margin-top: 20vh;
  }
  h2{
    color: white;
  }
  .start-buttons{
    width: 100%;
    text-align: center;
  }
  .start-buttons>button{
    margin: auto;
    margin-right: 10px;
    position: relative;
    display: inline-grid;
    top: 50%;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 2px grey;
  }
}

.container-advanced{
  display: none;
}

.container-beginner{
  display: none;
}

.circle{
  opacity: 0;
}

.land{
   fill: $land;
   fill-opacity: 1;
   stroke: $background;
   stroke-opacity: 1;
   stroke-width:0.5;
   stroke-miterlimit: 3.97446823;
   stroke-dasharray: none;
}


.attribution{
  position: absolute;
  bottom: 70px;
  padding-bottom: 0px;
  font-size: 14px;
  color: black;
  a{
    text-decoration: none;
    color: black;
  }
}

.map{
  position: relative;
  padding-top: 30px;
  margin-left: 15%;
  max-width: 75%;
  svg{
    max-width: 100%;
  }
}

#quiz-container{
 display: none;
 grid-template-columns: 50% 50%;
}

.container-advanced,.container-beginner{
  position: relative;
  top: 25%;
  height: 75%;
  margin-left: 0px;
  text-align: left;
  #time,#time2{
    font-size: 22px;
    color: red;
  }
  button{
    position: absolute;
    top: 200px;
  }
  p{
    position: relative;
  }
  h1{
    position: relative;
    text-align: left;
  }
  #answer,#answer-beginner{
    position: absolute;
    padding: 10px;
    top: 200px;
    font-size: 16px;
    display: none;
  }
  #score-beginner,#score{
    position: relative;
    font-size: 20px;
  }
}

#game-over{
  display: none;
  position: relative;
  margin: auto;
  #game-over-score{
    position: relative;
    font-size: 26px;
    padding-top: 35vh;
    margin: 0;
    padding-bottom: 10px;
  }
  button{
    padding: 10px;
    font-size: 20px;
    margin: 10px;
    border: none;
  }
}

// map responsive
@media only screen and (max-width: 600px) {
  #quiz-container{
    grid-template-columns: 100%;
  }
  .map{
    width: 100%;
    svg{
      width: 100%;
    }
  }
  .container-advanced,.container-beginner{
    top: 0px;
    height: 50vh;
    padding: 20px;
    button{
      position: relative;
      top: 10px;
    }
    #beginner-start{
      margin-top: 0px;
    }
    h1{
      font-size: 24px;
      top: 0px;
    }
    #answer,#answer-beginner{
      position: relative;
      padding: 10px;
      font-size: 16px;
      display: none;
      top: 0px;
      margin-top: 0px;
    }
    #score-beginner,#score{
      font-size: 16px;
    }
    #time,#time2{
      font-size: 16px;
    }
  }
  .attribution{
    font-size: 12px;
  }
}